

@font-face
{
    font-family: 'SF-Pro-Display-Regular';
    src: local('SF-Pro-Display-Regular'),url('SF-Pro-Display-Regular.otf') format('opentype');
}


body
{
    font-family: 'SF-Pro-Display-Regular';
    font-size: 35px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    font-weight: normal;
}




